.scenario_wrapper#show_scenario

  - if @warning
    .warning
      = @warning
  .scenario_options
    = link_to t("scenario.load"),
          load_saved_scenario_path(@saved_scenario),
          class: "button primary"

    = link_to t("scenario.load_factsheet"),
          factsheet_scenario_path(@saved_scenario.scenario_id),
          class: "button"
  .description
    %h1= (@scenario.title or t 'scenario.no_title' ).truncate(40, separator: ' ')
    - if @scenario.description
      %p= formatted_scenario_description(@scenario.description)

    %p sharing links

  .information
    %ul
      %li.image
      %li
        = t "areas.#{@scenario.area_code}"
        \-
        = @scenario.end_year
      - if @scenario.created_at
        %li
          %strong #{t('scenario.created')}
        %li= I18n.localize(@scenario.parsed_created_at, :format => :long)
      - if @saved_scenario.updated_at
        %li
          %strong #{t('scenario.updated')}
        %li= I18n.localize(@saved_scenario.updated_at, :format => :long)

    -#%p
      -#%small{:style => "font-size: 12px; font-weight: normal"}
        -#= t("scenario.overwritten")
